#[hub]
#  protocol = ssh
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[alias]
  a = add
  ca = commit -a
  cam = commit -am
  co = checkout
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all --color
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim -f
[help]
  autocorrect = 1
[credential]
  helper = GIT_CREDENTIAL_HELPER
[pull]
  rebase = false
